.catalogoContainer {
  padding: 1rem;
}

.headerSection {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.btn {
  background: #0b76ef;
  color: white;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  text-decoration: none;
}
